<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Office Employee Management System</h1>
        <hr>
        <a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a>
        <a class="btn btn-primary" href="/add_emp" role="button">Add an Employee</a>
        <a class="btn btn-primary" href="/remove_emp" role="button">Remove an Employee</a>
        <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Details</a>
    </div>
</body>
</html>
